.bg-lightblue {
  background: rgb(107, 107, 255);
  height: 100vh;
  max-width: 100%;
}
.mr__2 {
  margin-right: 0.5rem;
}
.btn__bg {
  background: rgb(15, 15, 209);
}
.item {
  padding: 1rem;
  background: rgb(168, 201, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
   margin-bottom: 0.5rem !important;
}
.cursor{
  cursor: pointer;
}
p{
  margin:0;
}
