*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  min-width: 90%;
  height: 90vh;
  font-size: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  top: 46%;
  color: white;
  background: black;
  border-radius: 9999px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}
